/*-------- Navigation ---------*/
.menu {
  display: none;
}

.menu-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 400px;
  height: 100vh;
  background: #e8fffff4;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  gap: 1.5rem;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;

  transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out,
    visibility 0s linear 0.35s;
}

.menu-mobile.open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition-delay: 0s, 0s, 0s;
}

@media (min-width: 600px) {
  .hamburger,
  .menu-mobile {
    display: none !important;
  }

  .menu {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .menu {
    width: auto;
  }
}
