#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* #root > * {
  padding: 0rem 0.5rem;
} */

header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

main {
  flex: 1;
  max-width: 100%;
  padding: 0 1rem;
}

/*-------- Navigation ---------*/

.menu {
  display: none;
}
.menu-mobile {
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.menu-mobile.open {
  visibility: visible;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: column;
  background: #effffa;
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  transform: translateX(0);
}

@media (min-width: 600px) {
  .hamburger,
  .menu-mobile {
    display: none !important;
  }
  .menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .logo {
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1200px;
  }
}

.active-page {
  text-decoration: underline;
}

.page-title {
  text-align: center;
}

/*---------- Broadcastlist -----------*/

.broadcast-list {
  display: grid;
  background-color: rgb(79, 79, 79);
  gap: 1px;
  max-width: 1000px;
}
.broadcast-day-list,
.broadcast-grid {
  display: grid;
  gap: 1px;
}

.row {
  background-color: var(--color-bg);
  padding: 0.2rem;
}

.broadcast-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/*----------- HAMBURGER ------------*/
.hamburger {
  position: absolute;
  top: 5%;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger:focus {
  outline: none;
}

.hamburger > div {
  width: 2rem;
  height: 0.25rem;
  background: var(--color-text);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}
.hamburger > div.opened {
  background: var(--color-text);
}

.hamburger > div:first-child.opened {
  transform: rotate(45deg);
}

.hamburger > div:nth-child(2).opened {
  opacity: 0;
  transform: translateX(20px);
}

.hamburger > div:nth-child(3).opened {
  transform: rotate(-45deg);
}
