#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem;
  margin: auto;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1.1px solid var(--color-text);
  background: linear-gradient(
    45deg,
    #aeaeb5 3%,
    #fff 12%,
    #cfd0d3 30%,
    #dadade 50%,
    #c8c7ce 65%,
    #fff9ff 80%,
    #9797a3 95%
  );
  /* background-color: var(--color-primary); */
}

footer {
  background-color: rgb(23, 16, 39);
  height: 10rem;
  color: var(--color-bg);
  margin-top: 1rem;
  padding: 1rem;
}

@media (min-width: 600px) {
  .header {
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1200px;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    height: 6rem;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 6rem;
  }
}
.breadcrumb {
  text-align: left;
  font-size: 1rem;
}
/*---------- Broadcastlist -----------*/

.broadcast-list {
  display: grid;
  background-color: rgb(79, 79, 79);
  gap: 1px;
  width: 100%;
}
.broadcast-day-list,
.broadcast-grid {
  display: grid;
  gap: 1px;
}

.row {
  background-color: var(--color-bg);
  padding: 0.2rem;
}

.broadcast-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* ------- Playing now section -------- */

.card {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid rgba(4, 5, 25, 0.179);
  background: linear-gradient(
    45deg,
    #aeaeb5 3%,
    #fff 12%,
    #cfd0d3 30%,
    #dadade 50%,
    #c8c7ce 65%,
    #fff9ff 80%,
    #9797a3 95%
  );
}

.card-image {
  flex-shrink: 0;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  flex: 1;
}

@media (min-width: 600px) {
  .card {
    height: 150px;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .card-image {
    width: auto;
    height: 100%;
  }
}
