#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem;
  margin: auto;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1.1px solid var(--color-text);
  background-color: var(--color-primary);
}

footer {
  background-color: rgb(23, 16, 39);
  height: 10rem;
  color: var(--color-bg);
  margin-top: 1rem;
  padding: 1rem;
}
/*-------- Navigation ---------*/
.menu {
  display: none;
}

.menu-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 400px;
  height: 100vh;
  background: #f2f3ff;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  gap: 1.5rem;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out,
    visibility 0s linear 0.35s; /* delay visibility change until after other transitions */
}

.menu-mobile.open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition-delay: 0s, 0s, 0s;
}

@media (min-width: 600px) {
  .header {
    padding: 1rem;
  }
  .hamburger,
  .menu-mobile {
    display: none !important;
  }

  .menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .menu {
    width: auto;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }

  main {
    max-width: 1200px;
  }
}

.breadcrumb {
  text-align: left;
  font-size: 1rem;
}

/*---------- Broadcastlist -----------*/

.broadcast-list {
  display: grid;
  background-color: rgb(79, 79, 79);
  gap: 1px;
  width: 100%;
}
.broadcast-day-list,
.broadcast-grid {
  display: grid;
  gap: 1px;
}

.row {
  background-color: var(--color-bg);
  padding: 0.2rem;
}

.broadcast-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/*----------- HAMBURGER ------------*/
.hamburger {
  position: absolute;
  top: 5%;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger:focus {
  outline: none;
}

.hamburger > div {
  width: 2rem;
  height: 0.25rem;
  background: var(--color-text);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}
.hamburger > div.opened {
  background: var(--color-text);
}

.hamburger > div:first-child.opened {
  transform: rotate(45deg);
}

.hamburger > div:nth-child(2).opened {
  opacity: 0;
  transform: translateX(20px);
}

.hamburger > div:nth-child(3).opened {
  transform: rotate(-45deg);
}

/* ------- Playing now section -------- */

.card {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.card-image {
  flex-shrink: 0;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  flex: 1;
}

@media (min-width: 600px) {
  .card {
    height: 200px;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .card-image {
    width: auto;
    height: 100%;
  }
}
