#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem;
  max-width: 100%;
  /* margin: 0 auto; */
}

@media (min-width: 600px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1200px;
  }
}
