#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#root > * {
  padding: 0rem 0.5rem;
}

header {
  margin: 1rem 0;
  text-align: center;
}

main {
  flex: 1;
  max-width: 100%;
  /* margin: 0 auto; */
}

.public-nav {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.active-page {
  text-decoration: underline;
}
@media (min-width: 600px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1200px;
  }
}
