#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem;
  margin: auto;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1.1px solid var(--color-text);
  background-color: var(--color-primary);
}

footer {
  background-color: rgb(23, 16, 39);
  height: 10rem;
  color: var(--color-bg);
  margin-top: 1rem;
  padding: 1rem;
}

.breadcrumb {
  text-align: left;
  font-size: 1rem;
}

/*---------- Broadcastlist -----------*/

.broadcast-list {
  display: grid;
  background-color: rgb(79, 79, 79);
  gap: 1px;
  width: 100%;
}
.broadcast-day-list,
.broadcast-grid {
  display: grid;
  gap: 1px;
}

.row {
  background-color: var(--color-bg);
  padding: 0.2rem;
}

.broadcast-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* ------- Playing now section -------- */

.card {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.card-image {
  flex-shrink: 0;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  flex: 1;
}

@media (min-width: 600px) {
  .card {
    height: 200px;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .card-image {
    width: auto;
    height: 100%;
  }
}
