#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 0;
  margin: auto;
  width: 100%;
  background: linear-gradient(
    45deg,
    #effffe 02%,
    #bfbfd9 30%,

    #f1fffa 70%,
    #9a9ac3 95%
  );
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 6px solid rgba(11, 15, 77, 0.371);
  border-radius: 4px;
  background: linear-gradient(
    45deg,
    #a7a7c4 3%,
    #f4ffff 12%,
    #bfbfd9 30%,
    #f7fffe 50%,
    #c9c6db 65%,
    #f6fffe 80%,
    #9292b1 95%
  );
  /* background-color: var(--color-primary); */
}

footer {
  background-color: rgb(23, 16, 39);
  height: 10rem;
  color: var(--color-bg);
  margin-top: 1rem;
  padding: 1rem;
}

@media (min-width: 600px) {
  .header {
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1200px;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    height: 6rem;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 6rem;
  }
}
.breadcrumb {
  text-align: left;
  font-size: 1rem;
}
/*---------- Broadcastlist -----------*/

.broadcast-list {
  display: grid;
  background-color: rgb(79, 79, 79);
  gap: 1px;
  width: 100%;
}
.broadcast-day-list,
.broadcast-grid {
  display: grid;
  gap: 0.5rem;
}

.row {
  background-color: rgba(228, 253, 255, 0.413);
  padding: 0.5rem;
}

.broadcast-item {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
}

/* ------- Playing now section -------- */

.card {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid rgba(4, 5, 25, 0.179);
  background: linear-gradient(
    45deg,
    #aeaeb5 3%,
    #fff 12%,
    #cfd0d3 30%,
    #dadade 50%,
    #c8c7ce 65%,
    #fff9ff 80%,
    #9797a3 95%
  );
}

.card-image {
  flex-shrink: 0;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  flex: 1;
}

@media (min-width: 600px) {
  .card {
    height: 150px;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .card-image {
    width: auto;
    height: 100%;
  }
}

/* ------------- Schedule -------------- */
.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weekdays {
  display: flex;
  margin: -4px 0 0.5rem 0;
  width: 100%;
  max-width: 800px;
}

.weekday-button {
  padding: 0;
  border-radius: 6px;
  border: 4px solid rgba(79, 81, 114, 0.295);
  background: linear-gradient(
    55deg,
    #bfbfd9 15%,
    #e3e3f6 30%,

    #cccce0 55%,
    #fff9ff 70%,
    #9292b1 95%
  );
  width: 100%;
  padding: 2px;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  text-align: center;
  display: block;
  padding: 0.5rem;
  font-size: 12px;
  border-radius: 8px;
  background: linear-gradient(
    45deg,
    #bfbfd9 0%,
    #e3e3f6 0%,
    #cccce0 35%,
    #f3ffff 60%,
    #b2afcb 100%
  );
  transform: translateY(-5px) translateX(2px);
}

.pushable:active .front {
  transform: translateY(-1px);
}
@media (min-width: 600px) {
  .weekdays {
  }
}
@media (min-width: 1020px) {
  .weekdays {
  }
}
