#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#root > * {
  padding: 0rem 0.5rem;
}

header {
  margin: 1rem 0;
  text-align: center;
}

main {
  flex: 1;
  max-width: 100%;
}

.public-nav {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.active-page {
  text-decoration: underline;
}
section {
  margin: 1rem 0;
}
.page-title {
  text-align: center;
}

.broadcast-list {
  display: grid;
  background-color: rgb(79, 79, 79);
  gap: 1px;
  max-width: 1000px;
}
.broadcast-day-list,
.broadcast-grid {
  display: grid;
  gap: 1px;
}

.row {
  background-color: var(--color-bg);
  padding: 0.2rem;
}

.broadcast-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media (min-width: 600px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1200px;
  }
}
