*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-jura: "Jura", sans-serif;
  --color-bg: #eae6fa;
  --color-text: #1e226c;
  --color-primary: #d7c1ff;
  --font-bold: 1.5px var(--color-text);
  --font-strong: 1.2px var(--color-text);
  line-height: 1.5;
}
.text-strong {
  -webkit-text-stroke: var(--font-strong);
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-jura);
  background-color: var(--color-bg);
  color: var(--color-text);
  -webkit-text-stroke: 0.5px var(--color-text);
  paint-order: stroke fill;
}
li {
  list-style: none;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
  transition: 0.2s ease-in-out;
}
a:hover {
  text-decoration: underline 1.5px;
  text-underline-offset: 4px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
